{% set name = {
  'RedHat': 'RedHat Linux',
  'Debian': 'Ubuntu Linux',
}.get(grains.os_family) %}

{% set env = {
  'minion1': 'dev',
  'minion2': 'live',
}.get(grains.id) %}

{% set id = salt['grains.get']('id') %}

os : {{ name }}
env : {{ env }}
id : {{ id }}

change
