{% set permission = salt['grains.filter_by']({
    'default': {
         'user': 'jinse',
         'group': 'jinse',
         'mode': '644',
    },
    'Debian': {
         'user': 'ubuntu',
         'group': 'ubuntu',
         'mode': '644',
     },
     'RedHat': {
         'user': 'centos',
         'group': 'centos',
         'mode': '644',
     },
}, merge=salt['pillar.get']('permission:acl'), base='default') %}
